*{
    margin: 0 ;
    padding: 0;
}
body{
    padding: 4vh 2vw;
    background:rgba(242,242,242,1);
}
/*小标题样式*/
.tit{
    margin: 2vh 0 1vh 1vw;
    font-weight: 600;
    color: #3C3C3C;
}
/*echar内容框样式*/
.echar_div{
    padding-left: 1vw;
}
.new_up{
    margin-bottom: 2vh;
}
.new_up>div{
    display: inline-block;
    width: 32%;
    height: 60vh;
    margin: 0 .5vw;
    background: white;
    position: relative;
    vertical-align: top;
}
#echar_div1{
    position: absolute;
    left: -.5vw;
    top: 0;
    height:60vh;
    width:95%;
}
#echar_div2{
    position: absolute;
    left: -.5vw;
    top: 6vh;
    height:53vh;
    width:95%;
}
#echar_div3{
    position: absolute;
    left: -.5vw;
    top: 0;
    height:60vh;
    width:95%;
}
#echar_div4{
    position: absolute;
    left: -.5vw;
    top: 0;
    height:40vh;
    width:95%;
}
#echar_div5{
    position: absolute;
    left: -.5vw;
    top: 0;
    height:40vh;
    width:95%;
}
#echar_div6{
    position: absolute;
    left: -.5vw;
    top: 0;
    height:40vh;
    width:95%;
}
#echar_div7{
    position: absolute;
    left: -.5vw;
    top: 0;
    height:40vh;
    width:95%;
}
#echar_div8{
    position: absolute;
    right: -.5vw;
    top: 0;
    height:40vh;
    width:95%;
}
.new_up .right_box{
    float: right;
}
.new_bottom .bottom_left{
    width: 65.5%;
    display: inline-block;
    height: 90vh;
    margin: 0 .5vw;
}
.bottom_left .bottom_left_top{
    margin-bottom: 2vh;
}
.bottom_left_top .bottom_left_top_left{
    display: inline-block;
    width: 49%;
    height: 43vh;
    position: relative;
    background: white;
}
.bottom_left_top .bottom_left_top_right{
    float:right;
    width: 48.5%;
    height: 43vh;
    position: relative;
    background: white;
}
.bottom_left .bottom_left_bottom{
    padding-top: 1vh;
    height: 43vh;
    position: relative;
    background: white;
}
.new_bottom .bottom_right{
    width: 32%;
    float:right;
    background: white;
    height: 89vh;
    margin: 0px 0.5vw;
}
.bottom_right_top{
   height: 38vh;
   position: relative;
}
.bottom_right_top .biao1, .biao2{
    display: inline-block;
    width: 48%;
}
.bottom_right_bottom li{
    list-style: none;
    display: inline-block;
    width: 30%;
    height: 15vh;
    text-align: center;
    /*border: 1px solid gray;*/
} 
.bottom_right_bottom li p:nth-child(1){
    /*text-align: center;*/
    font-family:PingFangSC-Regular;
    color:rgba(60,60,60,1);
    font-size: 14px;
}  
.bottom_right_bottom li p:nth-child(2) span{
    text-align: center;
    font-size: 20px;
    font-weight: 700;    
    color:#3C3C3C;
} 
