*{
    margin: 0 auto;
    padding: 0;
}
body{
    padding: 5vh 5vw 0 5vw;
}
/* 收起高度 */
.collapse{
    display: none;
}
.search_div{
    font-size:16px;
    font-family:PingFangSC-Regular;
    color:rgba(60,60,60,1);
    width:device-width;
    /* border: 1px solid blue; */
}
.current,.history{
    border-style:none; 
    outline-style: none;
    padding: 1vh 1vw;
    background:rgba(0,0,0,.1);
}
.sty{
    background: white;
    color:rgba(7,200,141,1);
}
.new_button{
    outline-style: none;
    float: right;
    font-style: none;
    border-style: none;
    padding: 1vh 2vw;
    color: #07C88D;
    font-size:12px;
    font-family:PingFangSC-Regular;
    border-radius:3px;
    background-color: white;
    border:1px solid rgba(7,200,141,1);
}

.con_left{
    float: left;
    display: inline-block;
    width: 67vw;
    margin-top: 1vh;
}
/* 项目 */
.safety{
    width:device-width;
}
/* 标题 */
.tit{
    padding: 1vh 0;
    border-bottom: 1px solid rgba(151,151,151,1);
}
.tit1{
    background: rgba(0,0,0,.2);
}
/* 标题名称 */
.pro_name{
    font-weight: 600;
    font-size: 1.2vw;
    font-family:PingFangSC-Medium;
    color:rgba(60,60,60,1);
}
/* 展开更多 */
.more{
    cursor: pointer;
    float: right;
    font-size: 1vw;
    font-family:MicrosoftYaHei;
    color:rgba(0,0,0,0.65);
}
/* 项目块 */
.pro_div{
    display: inline-block;
    margin: 1vh .5vw 1vh 0;
    padding: 1.5vh 1vw;
    width: 19vw;
    background:rgba(251,251,251,1);
    border-radius:4px;
    border:1px solid rgba(223,223,223,1);
    position: relative;
}
.avatar{
    width: 2vw;
    border-radius: 50%;
    position: relative;
    top: 1vh;
}
/* 部门 */
.pro_div .department{
    float: right;
    font-size: 1vw;
    padding: .2vh .5vw;
    font-family:PingFangSC-Regular;
    color:rgba(51,154,145,1);
    background:rgba(200,226,224,0.32);
    border-radius:2px;
    position: relative;
    top: 1vh;
}
/* 属地 */
.pro_div .location{
    font-size: 1vw;
    padding: .2vh .5vw;
    font-family:PingFangSC-Regular;
    color:rgba(127,129,156,1);
    background:rgba(200,209,226,0.32);
    border-radius:2px;
}
/* 项目名称 */
.pro_div .name{
    font-family:PingFangSC-Medium;
    color:rgba(0,0,0,1);
    font-size: 1.5vw;
    font-weight: 600;
}
/* 项目人员 */
.pro_div>.personnel{
    margin-top: 1.5vh;
    font-size: 1vw;
    font-family:PingFangSC-Medium;
    color:rgba(155,155,155,1);
}
.pro_div>.personnel>img{
    position: relative;
    top: .3vh;
}
/* 项目时间 */
.pro_div .time{
    margin: 1.5vh 0;
    font-family:PingFangSC-Medium;
    color:rgba(155,155,155,1);
    font-size: 1vw;
}
/* 项目状态 */
.pro_div .status{
    font-weight: 600;
    font-size: 1.3vw;
    font-family:PingFangSC-Semibold;
    color:rgba(96,203,130,1);
}
/* 项目进度 */
.pro_div .schedule{
    font-size: .5vw; 
    font-family:PingFangSC-Medium;
    color:rgba(155,155,155,1);
    /* margin-right: 4.5vw; */
}
/* 按钮 */
.button_div>button{
    cursor: pointer;
    /* float: right; */
    font-style: none;
    border-style: none;
    padding: 1vh 2vw;
    font-size:12px;
    font-family:PingFangSC-Regular;
    color:rgba(0,0,0,0.65);
    background:rgba(255,255,255,1);
    border-radius:4px;
    border:1px solid rgba(217,217,217,1);
}
/*  */
.button_div{
    display: inline-block;
    position: absolute;
    bottom: 1vh;
    right: 1vw;
    /* border: 1px solid black; */
}
.button_div a{
    text-decoration: none;
    color:rgba(0,0,0,0.65);
}
.con_right{
    float: right;
    display: inline-block;
    width: 20vw;
    height: 90vh;
    padding: 1vh .5vw;
    margin-left: 1vw;
    margin-top: 1vh;
    background:rgba(251,251,251,1);
    border-radius:4px;
}
/* 关键字input框 */
.keyword{
    outline-style: none;
    width: 12vw;
    height: 5.5vh;
    padding-left: .5vw;
    margin-bottom: 2vh;
    background:rgba(255,255,255,1);
    border-radius:3px;
    border:1px solid rgba(217,217,217,1);
    font-family:PingFangSC-Regular;
    color:rgba(0,0,0,1);
}
/* 搜索按钮 */
.search_button{
    font-style: none;
    border-style: none;
    padding: 1vh 2vw;
    color: white;
    font-size:12px;
    margin-left: .5vw;
    font-family:PingFangSC-Regular;
    background:rgba(7,200,141,1);
    border-radius:3px;
    border:1px solid rgba(7,200,141,1);
}
.one{
    width: 16vw;
    height: 10vh;
    font-size:14px;
    padding: 0 1vw;
    font-family:PingFangSC-Medium;
    color:rgba(0,0,0,0.65);
    border-left: 1px solid rgba(233,233,233,1);
    /* border: 1px solid black; */
    position: relative;
}
.one>span{
    display: inline-block;
    width:6px;
    height:6px;
    border-radius: 50%;
    background:rgba(255,255,255,1);
    border:2px solid rgba(7,200,141,1);
    position: absolute;
    left: -1vh;
}
/* 新增人员弹框 */
.new_member{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30vw;
    height: 70vh;
    margin-top: -35vh;
    margin-left: -15vw;
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 8px 0px rgba(0,0,0,0.2);
    border-radius:4px;
}
.member_tit{
    width: 100%;
    padding: 2vh 1vw;
    text-align: left;
    font-size:14px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(102,102,102,1);
}
.member_con{
    font-size: 1.2vw;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(102,102,102,1);
    width: 22vw;
    height: 50vh;
    padding: 4vh 4vw 0 4vw;
    border-top: 1px solid rgba(233,233,233,1);
    border-bottom: 1px solid rgba(233,233,233,1);
}
.member_con p{
    margin-bottom: 2vh;
}
.member_con select{
    
}
.member_text{
    /* float: right; */
    width: 15vw;
    height: 4vh;
    outline-style: none;
    background:rgba(255,255,255,1);
    border-radius:4px;
    border:1px solid rgba(217,217,217,1);
}
.top1{
    outline-style: none;
    vertical-align: middle;
}
.btn_div{
    float: right;
}
.btn_div>button{
    outline-style: none;
    cursor: pointer;
    /* float: right; */
    font-style: none;
    border-style: none;
    padding: 1vh 2vw;
    font-size:12px;
    margin-right:.5vw; 
    margin-top: 1vh;
    font-family:PingFangSC-Regular;
    color:rgba(0,0,0,0.65);
    background:rgba(255,255,255,1);
    border-radius:4px;
    border:1px solid rgba(217,217,217,1);
}
.btn_div>button:hover{
    color: white;
    background:rgba(7,200,141,1);
    border:1px solid rgba(7,200,141,1);
}