.common_bot_right,.common_bot_left{
  height: 100%;
}
/* 底部左侧 */
.style1 .left_cont{
  width: 96%;
  height: 98%;
  margin: 1vh 0;
  background-color: #fff;
}
.style1 .left_cont .left_cont_tit{
  height: 7%;
  display: flex;
  align-items: center;
}
.style1 .right_cont_tit .greenline,
.style1 .left_cont_tit .greenline{
  width: 4px;
  height: 15px;
  background-color: #07C88D;
  margin: 0 0.5vw 0 1vw; 
}
.style1 .left_cont .left_cont_bot{
  height: 91%;
  margin: 1% 1vw 0 1vw;
}

.style1 .left_cont_bot ul li {
  display: flex;
  float: left;
  width: 100%;
  align-items: baseline;
  margin-bottom: 2.5vh;
}
.style1 .left_cont_bot ul li p:nth-child(1){
  width: 34%;
}
.style1 .left_cont_bot ul li p:nth-child(2){
  width: 66%;
}
 /* 底部右侧 */
 .style1 .right_cont{
  width: 100%;
  height: 98%;
  margin: 1vh 0;
}
.style1 .right_cont .right_cont_tit{
  height: 12%;
  display: flex;
  align-items: center;
}
.style1 .common_bot_right .right_top{
  width: 100%;
  height: 52%;
  margin-bottom: 1%;
  background-color: #fff;
}
.style1 .common_bot_right .right_bot{
  width: 100%;
  height: 46%;
  margin-top: 1%;
  background-color: #fff;
}
.style1 .right_top_cont{
  margin: 0 1%;
  width: 98%;
}
.style1 .right_top_cont table {
  border-collapse: separate;
  border-spacing: 6px 18px;
}
.style1 .right_top_cont table tr{
  vertical-align:text-top;
}
.style1 .right_top_cont table tr td:nth-child(odd){
  width: 9%;
}
.style1 .right_top_cont table tr td:nth-child(even){
  width: 48%;
}
.layui-table tbody tr:hover, 
.layui-table thead tr,
.layui-table-header, 
.layui-table-hover, 
.layui-table-mend, .layui-table-patch, 
.layui-table-tool, .layui-table-total, 
.layui-table-total tr, .layui-table[lay-even] tr:nth-child(even){
  background-color: #F8FAFC !important;
}
.style1 .right_bot_cont{
  margin: 0 1%;
  width: 98%;
  height: 80%;
  overflow: auto;
}
.style1 .right_bot_cont::-webkit-scrollbar {
  display: none;
}
.style1 .layui-table td, .layui-table th {
  text-align: center;
}