* {
    margin: 0 auto;
    padding: 0;
}
body {
    padding: 5vh 5vw 0 5vw;
    background: rgba(242, 242, 242, 1);
}
.main {
    padding: 3vh 2vw;
    height: auto;
    background: rgb(255, 255, 255);
}
.main > h2 {
    text-align: center;
    font-size: 19px;
    font-weight: 600;
    font-family: PingFangSC-Medium;
    color: rgba(0, 0, 0, 1);
}
.main > section {
    margin-top: 20px;
}
.main  label {
    display: block;
    text-align: left;
    margin: 0;
    width: 30%;
}
.main  label.control {
    margin-right: 34%
}
.main > section > h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: PingFangSC-Medium;
    color: rgba(59, 59, 59, 1);
}
/* 下拉框样式 */
.pro_select{
	display: block;
    width: 100%;
    padding-left: 10px;
    height: 38px;
    line-height: 36px\9;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    border-radius: 2px;
}




.infoCont {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.infoCont .infoLeft,.infoRight {
    width: 40%;
    height: auto;
}
.info .timeSelect{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.weekly-name > .item-name {
    width: 48%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.weekly-name > .item-name > .name {
    width: 120px;
}
.weekly-name  .item-stage {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.info > .row > .item-stage {
    width: 28%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 60px;
}
.info > .row > .item-date {
    width: 28%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.info > .row  .title-stage {
    width: 120px;
}
.info > .row  .title-date {
    width: 220px;
}
.submitInfo {
    display: flex;
    justify-content: flex-end;
}
.next-work,.this-work {
    position: relative;
}
.this-work .addThisWork {
    position: absolute;
    right: 0;
    top: -4%;
}
.next-work .addNextWork {
    position: absolute;
    right: 0;
    top: -4%;
}
.form-addNextWork {
    padding: 16px;
    overflow: hidden;
}
.form-addNextWork > h4 {
    text-align: center;
    font-size: 16px;
    margin-bottom: 22px;
}
#addWork {
    float: right;;
}

/* 新增功能弹框 */
.new_div{
    width: 55vw;
    height: 75vh;
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 8px 0px rgba(0,0,0,0.2);
    border-radius:4px;
    position: absolute;
    top: 50%;
    left: 40%;
    margin-left: -17vw;
    margin-top: -38vh;
    display: none;
}
/* 标题部分 */
.new_tit{
    padding: 2vh .5vw;
    border-bottom: 1px solid rgba(233,233,233,1);
}
.new_tit span{
    font-size:1.2vw;
    font-weight: 600;
    font-family:PingFangSC-Regular;
    color:rgba(102,102,102,1);
}
.new_tit img{
    float: right;
}
/*  */
.con_txt{
    width: 20vw;
    font-size: 0.8vw;
    font-family:PingFangSC-Regular;
    color:rgba(102,102,102,1);
    padding: 3vh 3vw;
    border-bottom: 1px solid rgba(233,233,233,1);
}
.con_txt>p{
    margin: 1vh 0;
}
.name_input,.address_input,.time_input{
    padding-left: 0.5vw;
    outline-style: none;
    width: 20vw;
    height: 4vh;
    background:rgba(255,255,255,1);
    border-radius:4px;
    border:1px solid rgba(217,217,217,1);
}
/* .time_inputtime{
    padding-left: 0.5vw;
    outline-style: none;
    width: 14.5vw;
    height: 4vh;
    background:rgba(255,255,255,1);
    border-radius:4px;
    border:1px solid rgba(217,217,217,1);
}
 */
.client_input,.industry_input{
    padding-left: 0.5vw;
    outline-style: none;
    width: 20.8vw;
    height: 4vh;
    background:rgba(255,255,255,1);
    border-radius:4px;
    border:1px solid rgba(217,217,217,1);
}
.longitude_input,.latitude_input{
    outline-style: none;
    padding-left: 0.5vw;
    width: 6.25vw;
    height: 5vh;
    background:rgba(255,255,255,1);
    border-radius:4px;
    border:1px solid rgba(217,217,217,1);
}
.province_input,.city_input{
    outline-style: none;
    padding-left: 0.5vw;
    width:10.15vw;
    height: 5vh;
    background:rgba(255,255,255,1);
    border-radius:4px;
    border:1px solid rgba(217,217,217,1);
}
.btn_div{
    margin-top: 2vh;
    float: right;
}
.btn_div>button{
    font-style: none;
    border-style: none;
    padding: 1vh 2vw;
    font-size:12px;
    margin-right: 1vw;
    font-family:PingFangSC-Regular;
    color:rgba(0,0,0,0.65);
    background:rgba(255,255,255,1);
    border-radius:4px;
    border:1px solid rgba(217,217,217,1);
}
.btn_div>button:hover{
    font-style: none;
    border-style: none;
    padding: 1vh 2vw;
    font-size:12px;
    margin-right: 1vw;
    font-family:PingFangSC-Regular;
    color:white;
    background:rgba(7,200,141,1);
    border-radius:4px;
    border:1px solid rgba(7,200,141,1);

}

.layui-textarea {
    /* min-height: 100px; */
    min-height: 12vh;
    height: auto;
    padding: 6px 10px;
    resize: vertical;
}